@keyframes animacao {
  0% {
    margin-left: 0;
  }
  15% {
    margin-left: 0;
  }
  20% {
    margin-left: -95%;
  }
  30% {
    margin-left: -95%;
  }
  35% {
    margin-left: -190%;
  }
  45% {
    margin-left: -190%;
  }
  55% {
    margin-left: -287%;
  }
  70% {
    margin-left: -287%;
  }
  75% {
    margin-left: -385%;
  }
  85% {
    margin-left: -385%;
  }
  90% {
    margin-left: -465%;
  }
  100% {
    margin-left: -465%;
  }
}
