body {
  background: grey;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
  align-content: center;
  align-items: center;

  align-self: center;
}

.perfil {
  width: 100px;
  height: 100px;
  padding: 0;
  border-radius: 100%;
  border-color: white;
  border-width: 2px;
  align-content: center;
  margin-left: 5%;
  cursor: pointer;
}
.link {
  width: 0;
  align-content: center;
}
.agendarAula {
  height: 3rem;
  padding: 0;
  width: 10%;
  border-radius: 10%;
  border-color: white;
  border-style: solid;
  margin-right: 0;
  background-color: #c5d4e8;
  color: black;
  justify-content: center;
  cursor: pointer;
  position: flex;
  transform: translate(-50%, 0%);
}
.titlePrincipal {
  font-size: 60px;
  margin: 0%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  /* height: 40px; */
  padding: 0;
  position: flex;
  width: 100%;
  position: flex;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  padding: 0;
}
.menu {
  background-color: #002f5c;
  width: 100%;
  /* height: 50%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  position: flex;
  transform: translate(0%, 0%);
}
#cabecalho {
  justify-content: space-between;
  /* position: fixed; */
  top: 0;
  right: 0;
  left: 0;
  padding: 0;
  position: sticky;
}
.hidden {
  display: none;
}
.modal {
  position: absolute;
  top: 70%;
  left: 37%;

  /* transform: translate(-50%, 20%); */
  width: 30%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: rgb(175, 14, 14);
  cursor: pointer;
  border: none;
  background: none;
}
.quemEuSou {
  position: flex;
  background-color: white;
  padding: 0;
  margin: 0;
  border-color: black;
  border-style: solid;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  align-content: center;
  display: flex;
  width: 100%;
  margin: 0;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  flex-direction: column;
}

.conteudoQuemEuSou {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 90%;
  position: flex;
}

.boxTitle {
  margin: 0 0;
  padding: 0;
  width: 90%;
  position: flex;
  text-align: center;
}

.title1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black;
  font-size: 30px;
  position: flex;
  text-align: center;
}
.box {
  background-color: #dfe9f5;
  padding: 0;
  margin: 0;
  align-content: center;
  display: flex;
  width: 100%;
  margin: 0;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
.boxe {
  background-color: #dfe9f5;
  justify-content: space-between;
  width: 90%;
  top: 0;
  right: 0;
  left: 0;
  padding: 0;
  display: flex;
}
.icones {
  width: 8rem;
}
.caixaBoxe {
  width: 30%;
  padding: 0;
  margin: 0;
}
.textoCaixas {
  text-align: center;
  font-size: medium;
  font-size: 20px;
}
.caixaBoxeTexto {
  width: 30%;
  padding: 0;
  margin: 0;
  align-self: start;
  align-items: start;
}
